@font-face {
    font-family: "Google Sans";
    src: url("/fonts/Google-Sans/GoogleSans-Regular.otf");
}
@font-face {
    font-family: "Google Sans";
    src: url("/fonts/Google-Sans/GoogleSans-Medium.ttf");
    font-weight: 500;
}

* {
    font-family: "Google Sans";
    font-size: 16px;
    line-height: 150%;
    word-wrap: break-word !important;
    color: #484848;
    text-align: justify;
}

h2 {
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 24px !important;
    margin: 5px 0 !important;
}
p {
    text-align: justify;
}
p,
ul,
ol,
dd,
pre,
hr {
    margin-bottom: 0rem !important;
    margin-top: 0;
}

br {
    display: block;
    /* background: red; */
    width: 100%;
    height: 1em;
    content: "";
    margin: 0;
    padding: 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin: 0px 0px 0px 20px !important;
}

ol,
ul {
    padding-left: 20px;
}

table {
    margin: 0 auto;
    max-width: 675px !important;
    border: 1px solid #bababa;
    border-collapse: collapse;
}

table td {
    border: 1px solid #bababa;
}

table[align="right"] {
    margin-left: 8px;
}

table[align="left"] {
    margin-right: 8px;
}

tr td {
    padding: 5px !important;
}

img {
    margin: auto !important;
    height: auto !important;
    max-width: 740px !important;
    border: none !important;
    display: block;
    width: 100%;
}

a {
    color: #0b6098 !important;
}

a:hover {
    color: #0062ab !important;
    text-decoration: underline;
}

.explus_related_1404022217 {
    border-top: 3px solid #e0e0e0;
    margin-top: 12px;
    margin-bottom: 12px;
}

.explus_related_1404022217_letter {
    font-weight: normal;
    border-top: 3px solid #c32c2c;
    display: inline-block;
    margin-top: -3px;
    line-height: 26px !important;
    font-family: Arial !important;
    font-size: 14px !important;
    margin-bottom: 3px;
    padding: 0;
}

.explus_related_1404022217_title {
    text-decoration: none;
    font-family: Arial !important;
    font-size: 12px !important;
    line-height: 16px !important;
    margin: 8px 0 !important;
    display: block;
    font-weight: bold;
    color: #333 !important;
}

.explus_related_1404022217_title:hover {
    text-decoration: underline;
}

.explus_related_1404022217_photo {
    display: block;
}

.explus_related_1404022217_photo img {
    max-width: 100% !important;
}

.explus_related_1404022217_left {
    float: left;
    width: 140px;
    margin-right: 12px;
}

.explus_related_1404022217_right {
    float: right;
    width: 140px;
    margin-left: 12px;
}

.explus_related_1404022217_bottom {
    display: inline-block;
    width: 100%;
}

.explus_related_1404022217_bottom .explus_related_1404022217_item {
    float: left;
    width: 23.5%;
    margin-right: 2%;
    overflow: hidden;
    border: none;
    padding: 0;
}

.explus_related_1404022217_bottom .explus_related_1404022217_item_last {
    margin-right: 0 !important;
}

.explus_related_1404022217_bottom .explus_related_1404022217_title {
    font-weight: normal !important;
    line-height: 18px;
}

.exp_tinyslide {
    padding: 8px;
    background: #dff0d8;
    border: 1px solid #d6e9c6;
    margin: 0 0 8px;
}

.exp_tinyslide .exp_wrap {
    min-height: 100px;
    display: inline-block;
    width: 99%;
    padding: 0.5% 0.5% 0;
}

.exp_tinyslide figure,
.exp_tinyslide .exp_video {
    display: block;
    width: 100%;
    margin-bottom: 13px !important;
}

.exp_tinyslide figure figcaption {
    display: block !important;
}

.exp_tinyslide img {
    max-width: 100% !important;
    height: auto !important;
}

.exp_quote {
    height: auto !important;
    max-width: 100% !important;
}

.quote-inner figcaption {
    display: none !important;
}

.quote-inner figure {
    width: 100%;
}

.quote-inner img {
    max-width: 100% !important;
    height: auto !important;
}

.exp_live {
    border-left: 5px solid #ccc;
    padding: 1px 0 1px 10px;
    background: #f8f8f8;
    margin-bottom: 13px;
}

iframe[src*="/watch/"] {
    /* height: 350px !important; */
}

iframe.exp_video {
    margin: 0 auto;
    display: block;
}
iframe.exp_video video {
    width: 99%;
}

figure {
    border: none !important;
    margin: 0px auto !important;
    margin-bottom: 1.4em !important;
    padding: 0 !important;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    width: 85%;
}
figcaption {
    margin: 0 auto 20px;
    padding: 5px 10px 5px;
    background: rgba(196, 196, 196, 0.2);
}

figcaption,
figcaption > *,
figcaption > * > * {
    font-family: "SF Pro Display";
    font-weight: normal;
    text-align: center;
    font-size: 16px !important;
    line-height: 26px;
    max-width: 100%;
    font-style: italic;
    /* width: 100%; */
    color: #151011;
}

.mce-menubtn.mce-fixed-width span {
    display: initial;
}
.exp_attach {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background: url(/ucp/themes/images/attach-icon.jpg) no-repeat #eee;
    height: 64px;
    overflow: hidden;
    max-width: 250px;
    padding-left: 72px;
}

.exp_attach h2 {
    margin: 8px 0 0 !important;
}

.exp_attach h2 a {
    text-decoration: none;
}

.exp_attach p {
    color: #999;
    margin: 0 !important;
}

.exp_area_vote {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #bce8f1;
    color: #3a87ad;
    background-color: #d9edf7;
}

.exp_area_vote strong {
    color: #3a87ad;
}

.exp_area_quizz,
.exp_area_quizz_2 {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #bce8f1;
    color: #3a87ad;
    background-color: #d9edf7;
}

.exp_area_quizz strong,
.exp_area_quizz strong {
    color: #3a87ad;
}

.quote_center {
    width: 100% !important;
    float: left !important;
}

.quote_center > div.expEdit {
    width: 200px;
    float: left;
}

.quote_center > div.expEdit img {
    width: 100%;
}

.quote_center > blockquote.expEdit {
    float: none;
    margin-left: 215px !important;
    display: inherit;
}

body {
    width: 96%;
    max-width: 740px;
    margin: 0 auto;
    padding: 2%;
}

figure.left {
    width: auto !important;
    margin-left: -124px !important;
    margin-right: 15px !important;
    float: left;
}

figure.right {
    width: auto !important;
    margin-right: -124px !important;
    margin-left: 15px !important;
    float: right;
}

figure.center img {
    max-width: 988px;
}

figure.center {
    width: auto;
    float: left;
}

figure.none {
    display: inline-block;
}

figure.large {
    width: 988px;
    margin-left: -124px !important;
    display: inline-block;
}

figure.large img {
    max-width: 988px !important;
}

figure.large figcaption {
    width: 988px !important;
}

figure.full {
    width: 988px;
    margin-left: -124px !important;
    display: inline-block;
}

figure.full img {
    max-width: 988px !important;
}

figure.full figcaption {
    width: 988px !important;
}

.img_is_mb {
    display: none;
}

@media screen and (max-width: 740px) {
    figure img {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    body {
        width: 100%;
        float: left;
    }

    figure {
        width: 100%;
    }

    figure img {
        max-width: 100% !important;
    }
}

.exp_box_2_image {
    width: 988px;
    margin-left: -124px !important;
    display: inline-block;
}

.exp_box_2_image figure {
    max-width: 50%;
    width: 50%;
    float: left;
    padding: 1px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.exp_box_2_image figure img {
    max-width: 100% !important;
    width: 100%;
}

.exp_box_3_image {
    width: 988px;
    margin-left: -124px !important;
    display: inline-block;
}

.exp_box_3_image figure {
    max-width: 33.33333%;
    width: 33.3333%;
    float: left;
    padding: 1px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.exp_box_3_image figure img {
    max-width: 100% !important;
    width: 100%;
}

/* For suggest */
.suggest_post.explus_related_1404022217 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.suggest_post .explus_related_1404022217_letter {
    display: none;
}

.suggest_post .suggest_child {
    padding: 5px 0;
    padding-left: 22px;
    position: relative;
}

.suggest_post .suggest_child a {
    font-size: 15px;
    line-height: 25px;
    font-family: "NotoSeifB" !important;
    color: #545454 !important;
    text-decoration: none;
    font-weight: 600;
}

.suggest_post .suggest_child:before {
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    left: 8px;
    top: 17px;
    background: #e10000;
    font-size: 6px;
}

.tox .tox-dialog__titler {
    border-bottom: 1px solid #4b8df8;
    background-color: red !important;
}
.quote-ct p:last-child {
    margin-bottom: 0 !important;
}

.box_singature:before {
    content: "";
    height: 1px;
    background-color: #ed1b2f;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.box_singature:after {
    content: "";
    height: 1px;
    background-color: #ed1b2f;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}
sub,
sup {
    font-size: 75%;
}
.detail-recruit-content blockquote.quote {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    width: 100%;
}
.detail-recruit-content blockquote.quote h2 {
    padding: 25px 30px;
    background-color: #f7f7f7;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #27343a;
    margin-bottom: 0;
}
blockquote.quote p {
    padding: 0 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #27343a;
}
.detail-recruit-content blockquote.quote p:nth-child(2) {
    margin-top: 25px;
}
.detail-recruit-content blockquote.quote p:last-child {
    margin-bottom: 25px;
}
.detail-recruit-content blockquote.quote ul {
    padding: 25px 30px;
    margin-bottom: 0;
    list-style: none;
}
.detail-recruit-content blockquote.quote ul li {
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    position: relative;
}
.detail-recruit-content blockquote.quote ul li:last-child {
    margin-bottom: 0;
}
.detail-recruit-content blockquote.quote ul li::before {
    content: url(/frontend/svg/checkbox-rec.svg);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}
