<!doctype html>
<html ⚡>

<head>
    <meta charset="utf-8">
    <title>
        <?=$oneNews['title']?>
    </title>
    <link rel="canonical" href="<?=$clsNews->getLink($oneNews['news_id'], $oneNews)?>">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-custom>
        body {
            margin: 0;
            font-family: 'Arial', Serif;
        }

        .brand-logo {
            font-family: 'Arial';
        }

        .ad-container {
            display: flex;
            justify-content: center;
        }

        .content-container p {
            line-height: 24px;
        }

        header,
        .article-body {}

        .lightbox {
            background: #222;
        }

        .full-bleed {
            margin: 0 -15px;
        }

        .lightbox-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }

        .lightbox-content p {
            color: #fff;
            padding: 15px;
        }

        .lightbox amp-img {
            width: 100%;
        }

        figure {
            margin: 0;
        }

        figcaption {
            z-index: 10000;
            position: relative;
            width: 98%;
            background: #EEE;
            padding: 8px 1%;
            font-size: 12px;
        }

        figcaption:empty {
            display: none;
        }

        .author {
            display: flex;
            align-items: center;
            background: #f4f4f4;
            padding: 0 15px;
            font-size: .8em;
            border: solid #dcdcdc;
            border-width: 1px 0;
        }

        .header-time {
            color: #a8a3ae;
            font-size: 15px;
        }

        .author p {
            margin: 5px;
        }

        .byline {
            display: inline-block;
        }

        .byline p {
            line-height: normal;
        }

        .byline .brand {
            color: #6f757a;
        }

        .standfirst {
            color: #6f757a;
        }

        .mailto {
            text-decoration: none;
        }

        #author-avatar {
            margin: 10px;
            border: 5px solid #fff;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        h1 {
            font-size: 30px;
            margin: 20px 0px;
        }

        footer {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            background: #f4f4f4;
            margin-top: 15px;
        }

        hr {
            margin: 0;
        }

        .explus_related_1404022217 {
            border-top: 3px solid #E0E0E0;
            margin-top: 12px;
            margin-bottom: 12px;
        }

        .explus_related_1404022217_letter {
            font-weight: normal;
            border-top: 3px solid #c32c2c;
            display: inline-block;
            margin-top: -3px;
            line-height: 26px;
            font-family: Arial;
            font-size: 14px;
            margin-bottom: 3px;
            padding: 0;
        }

        .explus_related_1404022217_title {
            text-decoration: none;
            font-family: Arial;
            font-size: 12px;
            line-height: 16px;
            margin: 8px 0;
            display: block;
            font-weight: bold;
            color: #333;
        }

        .explus_related_1404022217_title:hover {
            text-decoration: underline;
        }

        .explus_related_1404022217_photo {
            display: block;
            overflow: hidden;
        }

        .explus_related_1404022217_photo img {
            max-width: 100%;
        }

        .explus_related_1404022217_left {
            float: left;
            width: 140px;
            margin-right: 12px;
        }

        .explus_related_1404022217_right {
            float: right;
            width: 140px;
            margin-left: 12px;
        }

        .explus_related_1404022217_bottom {
            display: inline-block;
            width: 100%;
        }

        .explus_related_1404022217_bottom .explus_related_1404022217_item {
            float: left;
            width: 23.5%;
            margin-right: 2%;
            overflow: hidden;
            border: none;
            padding: 0;
        }

        .explus_related_1404022217_bottom .explus_related_1404022217_item_last {
            margin-right: 0;
        }

        .explus_related_1404022217_bottom .explus_related_1404022217_title {
            font-weight: normal;
            line-height: 18px;
        }

        .quote-inner {
            float: right;
            display: block;
            width: 165px;
            margin: 0px 0px 0px 13px;
            padding: 0px;
            border-top: 8px solid #e0e0e0;
        }

        blockquote {
            text-align: left;
            border: none;
            font-size: 17px;
            line-height: 20px;
            margin: 0 0 8px;
            padding: 28px 0 0;
            max-width: 100%;
            color: #000;
            font-weight: bold;
            font-family: Arial;
            background: url('<?=WEB_DOMAIN?>/lib/explus/quote.png') no-repeat;
        }

        .quote-inner figcaption {
            display: none;
        }

        .quote-inner figure {
            width: 100%;
            padding-top: 8px;
        }

        .quote-inner img {
            max-width: 100%;
            height: auto;
        }

        .hide {
            display: none;
        }

        .text_footer {
            padding: 8px 13px;
            background: #f4f4f4;
        }

        nav {
            background-color: white;
            height: 65px;
        }


        #menuToggle {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 25px;
            left: 25px;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;
        }

        #menuToggle input {
            display: flex;
            width: 40px;
            height: 32px;
            position: absolute;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
        }

        #menuToggle span {
            display: flex;
            width: 29px;
            height: 2px;
            margin-bottom: 5px;
            position: relative;
            background: black;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 5px 0px;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;
        }

        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }

        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

        #menuToggle input:checked~span {
            opacity: 1;
            transform: rotate(45deg) translate(-3px, -1px);
            background: #36383F;
        }

        #menuToggle input:checked~span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        #menuToggle input:checked~span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

        #menu {
            position: absolute;
            width: 180px;
            height: auto;
            box-shadow: 0 0 10px #85888C;
            margin: -50px 0 0 -50px;
            padding: 50px;
            padding-top: 125px;
            background-color: #F5F6FA;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        }

        #menu li {
            padding: 10px 0;
            transition-delay: 2s;
        }

        #menuToggle input:checked~ul {
            transform: none;
        }

        a {
            text-decoration: none;
            color: #1E1E23;
            opacity: 1;
            font-size: 1.5em;
            font-weight: 400;
            transition: 200ms;
        }

        a:hover {
            opacity: 0.5;
        }

        ul {
            padding: 0;
            list-style-type: none;
        }
        .detail-tags {
            display: flex;
            overflow: auto;
            white-space: nowrap;
            align-items: center;
            padding-bottom: 25px;
        }
        .detail-tags div {
            margin-right: 20px;
        }
        .detail-tag-icon {
            color: #666;
            font-size: 14px;
            background: #f7f7f7;
            width: 80px;
            height: 30px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .detail-tag-icon:after {
            content: "";
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 8px solid #f7f7f7;
            right: -8px;
            position: absolute;
        }
        .detail-tag-item {
            border: 1px solid #FFEEDB;
            padding: 5px 10px;
            font-size: 15px;
        }
        .detail-tag-item.active {
            background: #FFEEDB;
            font-weight: 600;
        }
        main {
            padding: 10px 15px;
        }
        p.standfirst {
            font-size: 17px;
            font-weight: bold;
            color: #000;
        }

        .article-body {
            font-size: 17px;
        }

        .article-body h2 {
            font-size: 17px;
        }
        .news-home-item {
            display: flex;
            margin-bottom: 20px;
        }

        .news-home-item a.thumb {
            width: 40%;
        }

        .news-home-item .news-info {
            width: 60%;
            max-width: 230px;
            padding-left: 15px;
        }

        .news-home-item .news-info .main-title {
            margin: 0;
        }
        .news-home-item .news-info .main-title a {
            font-size: 18px;
            font-weight: bold;
            line-height: 23px;
        }
        .main-footer {
            text-transform: uppercase;
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid #c1c1c1;
            border-bottom: 1px solid #c1c1c1;
            padding: 25px 0 0;
            margin-top: 25px;
        }

        .main-footer a {
            font-size: 17px;
            margin-right: 20px;
            padding-bottom: 15px;
            font-weight: 600;
        }
        .footer-contact {
            font-size: 12px;
        }

        .footer-contact a {
            margin-right: 20px;
        }

        .protectted {
            text-align: center;
        }

        .footer-footer {
            margin-top: 10px;
        }

        .footer-footer span.fs-12.h1-ari.d-block.d-lg-none {
            line-height: 22px;
            margin: 13px 0px;
            display: block;
        }
        .article-body a {
            font-size: 17px;
            color: #0000EE;
        }
    </style>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style>
    <noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
</head>

<body>
    <header>
        <div class="brand-logo">
            <nav role="navigation" style="display: flex;">
                <div id="menuToggle">
                    
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <div class="menu-search btn closemn">
                            <i class="fa fa-search" aria-hidden="true" style="color: #0b0b0b;"></i>
                        </div>
                        <a tabindex="0" href="#" class="btn closemn"><i
                                style="color: #0b0b0b;font-size:23px;line-height: 1.4;"
                                class="fa fa-times"></i></a>
                        <?php foreach($menu as $key=>$id){ $one = $clsCategory->getOne($id); $allChild = $clsCategory->getChild($id);?>
                        <li><a href="<?= $clsCategory->getLink($id,$one);?>">
                                <?= $clsCategory->getTitle($id,$one);?>
                            </a></li>
                        <?php }?>
                    </ul>
                </div>
                <a href="/" style="margin-left: 40px;">
                    <!-- <img style="width:250px"
                        src="https://static.ex-cdn.com/giadinhvietnam.com/v1.9.17/templates/themes/images/logo.svg"
                        alt=""> -->
                        <amp-img src="https://sb.ex-cdn.com/60giay.com/templates/themes/images/logo.svg" width="250" height="65" />
                    </a>
            </nav>
        </div>
    </header>
    <main role="main">
        <article>
            <time class="header-time" itemprop="datePublished"
                datetime="<?=date('Y-m-d H:i', strtotime($oneNews['push_date']))?>">
                <?=$date?>
            </time>
            <div class="content-container">
                <header>
                    <h1 itemprop="headline">
                        <?=$oneNews['title']?>
                    </h1>
                    
                    <p class="standfirst">
                        <?=$oneNews['intro']?>
                    </p>
                </header>
                <div class="article-body" itemprop="articleBody">
                    <?=$oneNews['content']?>
                </div>
            </div>

            <?php $tag_path = $core->pathToArray($oneNews['tag_path']); if($tag_path != null) {?>
                <div class="detail-tags h1-robo">
                    <div class="detail-tag-icon"><i class="fas fa-tags"></i>Tags:</div>
                    <?php foreach($tag_path as $tag_id){ $onetag = $clsTag->getOne($tag_id); ?>
                    <div class="detail-tag-item active"><a href="<?=$clsTag->getLink($tag_id,$onetag)?>" title=""><?=$onetag['title']?></a></div>
                    <?php } ?>
                </div>
            <?php } ?>
            <div class="list-news-home list-news-home-2">
                <?php foreach($allNews_cate as $key => $id){ if($id != $oneNews['news_id']){ $one = $clsNews->getOne($id); 
                    if($one['off_mobile']==0){?>
                <div class="news-home-item">
                    <?= $clsNews->getLinkImageamp($id, 600, 360, $one, 'thumb', '', false); ?>
                    <div class="news-info">
                        <?= $clsNews->getLinkTitle1($id, $one, null, 'main-title main-title-sizable', 'h4');?>
                        <!-- <div class="news-cate-time">
                            <a href="<?=$clsCategory->getLink($one['category_id'])?>"
                                title="<?=$clsCategory->getTitle($one['category_id'])?>"
                                class="news-cate-link"><?=$clsCategory->getTitle($one['category_id'])?></a>
                            <span class="news-push-date">
                                <?=date_format(date_create($one['push_date']),"d/m/Y - H:i")?>
                            </span>
                        </div> -->
                    </div>
                </div>
                <?php } } } ?>
            </div>
        </article>
    </main>

    <footer>
        <div class="brand-logo">
           <amp-img src="https://sb.ex-cdn.com/60giay.com/templates/themes/images/logo.svg" width="250" height="65" />
        </div>
    </footer>
    <div class="text_footer">
        <div class="footer-content fs-14 h1-ari" style="line-height: 24px; margin-top: 15px;">
            <div>Giấy phép hoạt động báo chí số <strong>2015/GP-TTĐT </strong>do Sở Thông tin và Truyền thông Hà Nội cấp ngày <strong> 16 tháng 7 năm 2020</strong></div>
            <div>Chịu trách nhiệm nội dung: <strong>Vũ Minh Tiến</strong></div>
            <div>Tòa soạn: <strong>Tầng 3 tòa nhà G4, Five Star Garden, Số 02 Kim Giang, P. Kim Giang, Q. Thanh Xuân, TP. Hà Nội.</strong></div>
            <div>Liên hệ quảng cáo: <strong>0911 493 158</strong></div>
            <div>Hotline: <strong>0979 998 888</strong></div>
        </div>
        <div class="main-footer fs-14 f-600">
            <?php foreach($menu as $key=>$id){ $one = $clsCategory->getOne($id); $allChild = $clsCategory->getChild($id);?>
                <a href="<?= $clsCategory->getLink($id,$one);?>">
                    <?= $clsCategory->getTitle($id,$one);?>
                </a>
            <?php }?>
        </div>
        <div class="footer-footer">
                <div class="fs-12 h1-ari footer-contact">
                    <!-- <a href="/lien-he.htm">Đặt báo</a>
                    <a href="/lien-he.htm" target="_blank" rel="nofollow">Quảng cáo</a> -->
                    <a href="https://giadinhonline.vn/main-rss.html" target="_blank" rel="nofollow">RSS</a>
                    <a href="/thong-tin-toa-soan-p2.html" target="_blank" rel="nofollow">Thông tin tòa soạn</a>
                </div>
                <span class="fs-12 h1-ari d-block d-lg-none">© Copyright 2021 60 Giây - Tin tức giải trí online cho giới trẻ Việt Nam <br> © 2021 - 60GIAY.COM giữ bản quyền nội dung trên website này.</span>
                <div class="protectted">
                    <!-- <img src="https://static.ex-cdn.com/giadinhvietnam.com/v1.9.45/templates/themes/images/images/footer.png" alt=""> -->
                    <amp-img src="https://sb.ex-cdn.com/60giay.com/templates/themes/images/logo.svg" width="120" height="24" />
                </div>

            </div>
    </div>
    <amp-analytics type="googleanalytics">
        <script type="application/json">
    {
      "vars": {
        "account": "UA-216385654-1"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
    </amp-analytics>
</body>

</html>
