@import "layout";

.introduce-top {
    background-image: url("/frontend/images/bg-introduce.svg");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: bottom right;
    padding: 65px 0;
    .left-introduce-top {
        padding-left: 60px;
        padding-right: 40px;
        position: relative;
        .around {
            animation: spin infinite 20s linear;
        }
        .title-intro {
            position: absolute;
            top: 65px;
            left: 0px;
            background-color: #02b3ac;
            padding: 30px;
            text-align: center;
            width: 220px;
            h3 {
                font-size: 44px;
                font-weight: 700;
                line-height: 54px;
                color: #ffffff;
                margin: 15px 0;
            }
            p {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                color: #ffffff;
                margin-bottom: 10px;
            }
        }
    }
    .right-introduce-top {
        h5 {
            display: inline;
            background: rgba(2, 177, 171, 0.1);
            box-shadow: 0px 3px 6px rgba(168, 168, 168, 0.1);
            border-radius: 4px;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            color: #02b3ac;
            padding: 6px 20px;
        }
        h3 {
            font-size: 36px;
            font-weight: 700;
            line-height: 45px;
            color: #27343a;
            margin-top: 15px;
            margin-bottom: 30px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 15px;
        }
        ul {
            list-style: none;
            li {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                color: #27343a;
                padding: 10px 0;
                img {
                    padding-right: 12px;
                }
            }
        }
        .play-video {
            display: flex;
            align-items: center;
            padding-top: 20px;
            .line {
                display: inline;
                width: 25px;
                height: 1.8px;
                background-color: #27343a;
                margin: 0 15px;
            }
            p {
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                color: #27343a;
                margin-bottom: 0;
            }
        }
    }
}
.mission {
    background: url(/frontend/images/mission-bg.svg) no-repeat 10% -100px,
        linear-gradient(180deg, #202442 41.67%, rgba(32, 36, 66, 0.8) 100%);
    padding-top: 70px;
    padding-bottom: 130px;
    position: relative;
    .mission-left {
        width: 70%;
        color: #ffffff;
        h3 {
            font-size: 36px;
            font-weight: 700;
            line-height: 45px;
            margin-bottom: 20px;
        }
        ul {
            padding-left: 30px;
            li {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                padding: 8px 0;
            }
        }
    }
    .mission-right {
        img {
            width: 100%;
            border-radius: 4px;
        }
    }
    .owl-mission {
        width: 60%;
        position: absolute;
        bottom: 0;
        left: 0;
        .item {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1),
                0px 0px 1px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            background-color: #ffffff;
            padding: 20px 50px;
            text-align: center;
            height: 100%;
            direction: initial;
            img {
                width: 100%;
                max-width: 280px;
                max-height: 280px;
                margin: auto;
                transition: transform 0.3s linear;
            }
            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
            h4 {
                font-size: 22px;
                font-weight: 700;
                line-height: 24px;
                color: #27343a;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                color: #27343a;
                height: 50px;
            }
        }
        .owl-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 30px;
            .owl-dot {
                width: 12px;
                height: 12px;
                margin: 0 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                    background-color: #f6f6f6;
                    display: block;
                }
                &.active {
                    border-radius: 50%;
                    border: 1px solid #02b3ac;
                    span {
                        background-color: #02b3ac;
                    }
                }
            }
        }
    }
}
.project {
    padding: 40px 0;
    position: relative;
    overflow: hidden;
    .container-fix {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }
    .project-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        color: #27343a;
        margin-bottom: 0px;
    }
    .owl-project {
        margin-left: calc((100vw - 1200px) / 2);
        .item {
            height: 100%;
            img {
                max-height: 420px;
            }
        }
    }
}
.leader-manage {
    margin-top: 15px;
    margin-bottom: 30px;
    .leader-manage-title {
        width: 68%;
        h3 {
            font-size: 36px;
            font-weight: 700;
            line-height: 50px;
            color: #27343a;
        }
        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: #27343a;
        }
    }
    .leader-manage-content {
        height: 560px;
        background-image: url("/frontend/images/global.svg");
        display: flex;
        align-items: center;
        position: relative;
        .container-fix {
            position: relative;
        }
        .owl-nav {
            a {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: #ffffff;
                border-radius: 50%;
            }
            .prev-owl {
                left: -60px;
            }
            .next-owl {
                right: -60px;
                img {
                    transform: rotate(180deg);
                }
            }
        }

        .item {
            text-align: center;
            .item-img {
                max-width: 200px;
                max-height: 200px;
                border-radius: 50%;
                border: 1.5px solid rgba(105, 146, 204, 1);
                overflow: hidden;
                background-color: #ffffff;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            h3 {
                font-size: 15px;
                font-weight: 700;
                line-height: 36px;
                color: #27343a;
                margin: 0;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                color: #27343a;
                margin: 0;
            }
        }
        .diagram_manage-btn {
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #274d94;
            border-radius: 4px;
            padding: 13px 23px;
            border: none;
            &.open {
                .chevron {
                    transform: rotate(180deg);
                }
            }
            span {
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                color: #ffffff;
                padding: 0 15px;
            }
        }
    }
}
.diagram_manage {
    transition: opacity 1.5s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    &.open {
        opacity: 1;
        height: auto;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 51px;
        color: #27343a;
        text-align: center;
    }
}
@include extra-small {
    .introduce-top {
        background-size: 80%;
        padding-bottom: 40px;
        .left-introduce-top {
            padding: 15px 7.5px;
            img {
                border-radius: 4px;
            }
            .around {
                height: 45px;
                width: 50px;
            }
            .title-intro {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: left;
                h3 {
                    font-size: 35px;
                    line-height: 40px;
                }
                p {
                    font-size: 15px;
                    line-height: 18px;
                    margin: 0;
                }
            }
        }
        .right-introduce-top {
            padding-top: 10px;
            h5 {
                background-color: #e4f4ff;
                padding: 10px 17px;
                font-size: 10px;
                line-height: 12px;
                font-weight: 400;
            }
            h3 {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 15px;
            }
            p {
                font-size: 14px;
                line-height: 22px;
            }
            ul {
                li {
                    font-size: 14px;
                    line-height: 22px;
                    display: flex;
                    padding: 5px 0;
                }
            }
            .play-video {
                padding-top: 10px;
            }
        }
    }
    .mission {
        padding-top: 40px;
        background: url(/frontend/images/mission-bg.svg) no-repeat -100px -80px,
            linear-gradient(180deg, #202442 41.67%, rgba(32, 36, 66, 0.8) 100%);
        background-size: 65%;
        .mission-left {
            width: 100%;
            h3 {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 15px;
            }
            ul {
                padding-left: 25px;
                li {
                    font-size: 16px;
                    line-height: 26px;
                    padding: 5px 0;
                }
            }
        }
        .mission-right {
            padding-bottom: 120px;
        }
        .owl-mission {
            width: 85%;
            right: 0;
            left: initial;
            .item {
                padding: 20px 30px;
                img {
                    max-width: 200px;
                    max-height: 200px;
                }
            }
        }
    }
    .project {
        padding: 25px 0;
        .project-title {
            font-size: 24px;
            line-height: 32px;
        }
        .owl-project {
            margin-left: 15px;
            .item {
                img {
                    height: 250px;
                    border-radius: 4px;
                }
            }
        }
    }
    .leader-manage {
        margin: 0;
        .leader-manage-title {
            width: 100%;
            h3 {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 12px;
            }
            p {
                font-style: italic;
            }
        }
        .leader-manage-content {
            height: auto;
            display: block;
            padding-top: 45px;
            background-image: url(/frontend/svg/global-foot.svg);
            .item {
                .item-img {
                    max-width: 120px;
                    max-height: 120px;
                }
                h3 {
                    font-size: 12px;
                    line-height: 14px;
                }
                p {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
            .diagram_manage-btn {
                position: relative;
                margin: 30px auto;
                left: initial;
                transform: initial;
                bottom: initial;
                padding: 10px 20px;
                span {
                    font-size: 14px;
                }
                img {
                    max-width: 20px;
                    max-height: 20px;
                }
            }
        }
    }
    .diagram_manage {
        h3 {
            font-size: 24px;
            line-height: 32px;
        }
    }
}
