@import "layout";

.detail-recruit {
    padding-top: 60px;
    padding-bottom: 50px;
    .detail-recruit-top {
        background-color: #f7f7f7;
        border: 1px solid #ebebeb;
        border-radius: 4px;
        img {
            width: 100%;
            max-height: 220px;
        }
        .detail-recruit-top-info {
            padding: 35px 30px;
            h3 {
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                color: #27343a;
                margin-bottom: 10px;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                color: #27343a;
                &:last-child {
                    margin-bottom: 0;
                }
                svg {
                    fill: #27343a;
                    margin-right: 12px;
                }
            }
            .detail-recruit-top-time {
                margin-bottom: 30px;
            }
        }
    }
    .detail-recruit-des {
        background: #ffffff;
        border: 1px solid #ebebeb;
        border-radius: 4px;
        margin-top: 30px;
        .detail-recruit-title {
            padding: 25px 30px;
            background-color: #f7f7f7;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            color: #27343a;
        }
        .detail-recruit-content {
            padding: 25px 30px;
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                color: #27343a;
            }
            ul {
                list-style: none;
                li {
                    margin-bottom: 10px;
                    display: flex;
                    p {
                        margin-bottom: 0;
                    }
                    img {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
    .detail-recruit-content {
        blockquote.quote {
            border: 1px solid #ebebeb !important;
            border-radius: 4px;
            padding: 0 !important;
            margin: 0 !important;
            margin-top: 30px !important;
            width: 100% !important;
            h2 {
                padding: 25px 30px;
                background-color: #f7f7f7;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                color: #27343a;
                margin-bottom: 0;
            }

            p {
                padding: 0 30px;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                color: #27343a;
                &:nth-child(2) {
                    margin-top: 25px;
                }
                &:last-child {
                    margin-bottom: 25px;
                }
            }

            ul {
                padding: 25px 30px;
                margin-bottom: 0;
                list-style: none;
                // list-style-image: url(/frontend/svg/checkbox-rec.svg);
                // list-style-position: outside;
                li {
                    padding-left: 30px;
                    margin-bottom: 15px;
                    font-size: 14px;
                    line-height: 22px;
                    text-align: left;
                    position: relative;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &::before {
                        content: url(/frontend/svg/checkbox-rec.svg);
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .detail-recruit-left {
        padding-left: 80px;
        h3 {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            color: #27343a;
            margin-bottom: 20px;
        }
        .detail-recruit-left-item {
            padding-bottom: 40px;
            .detail-recruit-left-img {
                margin-bottom: 15px;
                img {
                    width: 100%;
                    max-height: 185px;
                    object-fit: contain;
                }
            }
            strong {
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                color: #27343a;
                display: block;
                margin-bottom: 5px;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                color: #27343a;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
            }
            .see-more {
                font-size: 14px;
                font-weight: 600;
                line-height: 17px;
                width: 145px;
                background-color: #02b3ac;
                border-radius: 4px;
                color: #ffffff;
                padding: 8px 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;
            }
        }
    }
}
@include extra-small {
    .detail-recruit {
        padding-bottom: 0px;
        .detail-recruit-top {
            margin-top: 30px;
            img {
                height: 100%;
            }
            .detail-recruit-top-info {
                padding: 20px 0;
                h3 {
                    font-size: 14px;
                    line-height: 17px;
                }
                p {
                    font-size: 12px;
                    line-height: 14px;
                    margin-bottom: 10px;
                }
                .detail-recruit-top-time {
                    margin-bottom: 15px;
                }
            }
        }
        .detail-recruit-des {
            .detail-recruit-title {
                padding: 15px 20px;
                font-size: 14px;
                line-height: 17px;
                font-weight: 600;
            }
            .detail-recruit-content {
                padding: 15px 20px;
            }
        }
        .detail-recruit-left {
            padding: 0;
            padding-top: 25px;
            h3 {
                font-size: 22px;
                line-height: 28px;
            }
        }
    }
}
